@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme{
  --font-work-sans: "work-sans";
  --color-primary: #FFFFFF;
  --color-brightyellow: #FFEA60;
  --color-light-dark : #5B7EFF90;
}

@layer utilities {
  .section-container{
    @apply md:p-10 sm:p-4 p-3
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-responsive {
    @apply md:flex-row flex-col;
  }
  .action-button {
    @apply px-4 py-2 gap-x-2 flex justify-between items-center font-work-sans font-semibold md:text-lg text-sm border-2 border-brightyellow hover:border-white transition-all duration-300 hover:bg-gradient-to-tr hover:from-yellow-700 hover:via-orange-400 hover:to-red-500 rounded-full cursor-pointer hover:shadow-lg hover:shadow-brightyellow active:scale-75;
  }
  .action-button-bg {
    @apply px-4 py-2 gap-x-2 flex justify-between items-center font-work-sans font-semibold md:text-lg text-sm border-2 border-brightyellow hover:border-white hover:bg-none hover:bg-transparent transition-all duration-300 bg-gradient-to-tr from-yellow-700 via-orange-400 to-red-500 rounded-full cursor-pointer hover:shadow-lg hover:shadow-brightyellow active:scale-75;
  }
  .action-button-order {
    @apply w-full px-4 py-2 gap-x-2 flex justify-center items-center font-work-sans font-semibold md:text-lg text-sm border-2 border-brightyellow hover:border-white hover:bg-none hover:bg-transparent transition-all duration-300 bg-gradient-to-tr from-yellow-700 via-orange-400 to-red-500 rounded-full cursor-pointer hover:shadow-lg hover:shadow-brightyellow hover:text-yellow-500 active:scale-75;
  }
  .link-hover-gradient {
    @apply transition-all duration-300 hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-yellow-500 hover:via-orange-400 hover:to-red-500 ;
  }
  .signup-form-container{
    @apply rounded-2xl border-2 border-brightyellow shadow-lg shadow-brightyellow/90 bg-black/10 
  }
  .text-input{
    @apply w-full my-2 rounded-2xl border-2 border-gray-300/50 bg-gray-500/40 text-white font-work-sans font-light text-lg px-2 py-1
  }
  .service-desc{
    @apply font-work-sans font-normal text-xl text-center mb-3
  }
  .service-img{
    @apply transition-all duration-300 hover:skew-6
  }
  .link-button{
    @apply transition-all duration-300 hover:text-brightyellow cursor-pointer active:scale-75 
  }
  .text-gradient{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-brightyellow via-orange-400 to-red-500
  }
  .contact-button {
    @apply pb-3 text-center border-b-2 border-white cursor-pointer active:scale-90 font-work-sans font-bold md:text-7xl text-6xl transition-all duration-300 hover:text-transparent! hover:bg-clip-text! hover:bg-gradient-to-r! hover:from-red-700! hover:via-pink-700! hover:to-purple-500! ;
  }
  .ligne-hover {
    @apply pb-1 hover:border-b-2 hover:border-brightyellow border-b-2 border-transparent
  }
}



:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #FFEA60 #ffea60a1; /* thumb and track colors */
}

* ::-webkit-scrollbar-button{
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounceX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
}

@keyframes scall {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes fly {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes signal {
  0%, 100% {
    color: white;
  }
  50% {
    color:var(--color-brightyellow);
  }
}


@keyframes flowing-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  border: none; /* Remove default border */
  height: 2px; /* Set height of the <hr> */
  background: linear-gradient(90deg, red, rgb(250, 247, 53),  red); /* Gradient with more colors */
  background-size: 200% 100%; /* Double the width for smooth animation */
  animation: flowing-gradient 3s ease-in-out infinite; /* Apply animation */
  border-radius: 10px;
}

.animate-bounce {
  animation: bounce 1s infinite;
}
.animate-fly {
  animation: fly 4s infinite;
}

.animate-signal {
  animation: signal 3s infinite;
}

.animate-bounceX {
  animation: bounceX 1s infinite;
}

.animate-scall {
  animation: scall 3s infinite;
}
/* .Carousel-container, .Carousel-container::after , Carousel-container::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.img-swiper{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #171717;
  overflow: hidden;

}
.container-swiper{
  width: 80%;
}
.swiper{
  width: 100%;
  padding:60px ;
}

.swiper-slide{
  position: relative;
  width: 300px;
  height: 500px;
  box-shadow: 1px 22px 44px rgba(0, 0, b0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
  user-select: none;
}
.swiper-slide-active{
  width: 600px;
  transition: width 1s ease-in-out;
} */
/* .swiper-slide img{
  position: absolute;
  inset: 0;
  filter: grayscale(90%);
}
.swiper-slide-active img{
  filter: grayscale(0%);
} */

/* .title-swiper{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 25px 25px 30px;
}
.title-swiper h1{
  opacity: 1;
  transition: 0.8 ease;
  transition-delay: 1s;
}
.swiper-slide-active .title-swiper h1{
  opacity: 0;
  transition-delay: -200ms;
}

@media (max-width: 800px){
  .swiper-slide-active {
    width: 500px;
  }
}
@media (max-width: 650px){
  .swiper-slide-active {
    width: 400px;
  }
}

@media (max-width: 520px){
  .swiper-slide-active {
    width: 300px;
  }
} */








